* {
    box-sizing: boarder-box;
    color: #000;
}

html, body {
    margin: 0;
    padding: 0;
}

button {
    background-color: green;
    color: white;
    margin-top: 5px;
    margin-bottom: 5px;
}

.lang-div h1 {
    margin: 0;
}

.background {
    /* Changes background image opacity */
    background-color: rgba(255, 255, 255, 0.5);
    background-blend-mode: lighten;

    background-image: url("../images/mountains2.jpg");
    background-size: 100% auto;
}


.generatedList {
    overflow-y: auto;
    max-height: 60vh;
}

.lang-label {
    font-size: 30px;
}

.number_of_names-label {
    font-size: 15px;
}

.lang-header {
    padding-top: 10px;
    padding-bottom: 10px;
}

.select-list {
    color: black;
}

.input-file {
    color: black;
}

.no-bullets {
    list-style-type: none;
}

